---
layout: default
---
<h1>{{ page.title }}</h1>      
<p>{{ page.date | date_to_string }} - {{ page.author }}</p>

{{ content }}

{% if page.report_name %}
{% assign filename = page.report_name | append: '.htm'%}
{% assign reports = site.static_files| where: "name", filename %}
<h3> 测试报告 </h3>
{% for report in reports %}
<a href="{{ report.path | relative_url }}" target="blank">
{{report.path|slice: 9,15|upcase}}  点击下图查看详情
<img src={{ report.path | replace: "htm", "gif" | relative_url}}>
</a>
{% endfor %}
{% endif %}